@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PropertyInputFormViewModel

<h1 class="font-h1">Rent, deposits, availability, and duration</h1>
<form method="post" asp-controller="Property" asp-action="AddNewProperty_Continue" asp-route-step="@Model.Step" asp-route-propertyId="@Model.PropertyId" asp-route-landlordId="@Model.LandlordId">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="my-4 py-3">
        <label asp-for="Step6!.Rent" class="form-label">Rent amount</label>
        <div class="input-group">
            <span class="input-group-text">£</span>
            <input asp-for="Step6!.Rent" class="form-control" required/>
            <span class="input-group-text">per month</span>
        </div>
        <span asp-validation-for="Step6!.Rent" class="text-danger"></span>
    </div>

    <div class="my-4 py-3 row">
        <div class="col-auto">
            <label asp-for="Step6!.Availability" class="form-label">Availability</label>
            <select asp-for="Step6!.Availability" class="form-select" required
                    id="Select" onclick="checkIfSelectedValueIsTarget('@AvailabilityState.AvailableSoon')">
                <option selected>@AvailabilityState.Draft</option>
                <option>@AvailabilityState.Available</option>
                <option>@AvailabilityState.AvailableSoon</option>
                <option>@AvailabilityState.Unavailable</option>
            </select>
            <span asp-validation-for="Step6!.Availability" class="text-danger"></span>
        </div>
        <div class="col-auto" id="ifTrue" style="@(Model.Step6!.Availability == AvailabilityState.AvailableSoon ? "" : "display: none;")">
            <label asp-for="Step6!.AvailableFrom" class="form-label">Available from</label>
            <input asp-for="Step6!.AvailableFrom" class="form-control empty"/>
            <span asp-validation-for="Step6!.AvailableFrom" class="text-danger"></span>
            @*TODO require AvailableFrom date to be in future*@
        </div>
        <div class="d-none" id="ifFalse"></div>
    </div>

    <div class="my-4 py-3">
        <label asp-for="Step6!.TotalUnits" class="form-label">Number of units available in this property</label>
        <input asp-for="Step6!.TotalUnits" class="form-control" required>
    </div>
    <partial name=@("_PropertyFormButtons") model="Model"/>
</form>