@model PropertyListModel

@if (Model.Properties.Count == 0)
{
    <h2 class="font-h2">No properties found</h2>
    return;
}
<div class="table-responsive mt-4">
    <table class="table">
        <thead class="bg-pale-blue">
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Image</th>
            <th scope="col">Address</th>
            <th scope="col" style="width: 150px">Type</th>
            <th scope="col">Bedrooms</th>
            <th scope="col">Description</th>
            <th scope="col">Availability</th>
            <th scope="col">Rent (pcm)</th>
            <th scope="col">Total units</th>
            <th scope="col">Available units</th>
            <th scope="col">Details</th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="col">Landlord</th>
                <th scope="col">Match</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var propertyDetails in Model.Properties)
        {
            var prop = propertyDetails.Property!;
            <tr>
                <td class="text-nowrap">
                    <partial name="../Property/Details/_LivePill" model="propertyDetails"/>
                </td>
                <td>
                    @if (propertyDetails.Images.FirstOrDefault() is { } image)
                    {

                        <div class="property-img-thumbnail placeholder-glow">
                            <div class="placeholder w-100 h-100" id="image@(prop.PropertyId)Placeholder"></div>
                            <img src="@image.FileUrl" alt="@image.FileName" id="image@(prop.PropertyId)" style="display: none" onload="hidePlaceholder('#image@(prop.PropertyId)')"/>
                        </div>
                    }
                </td>
                <td>
                    @prop.Address.AddressLine1,
                    @(prop.Address.AddressLine2 == null ? "" : prop.Address.AddressLine2 + ",")
                    @(prop.Address.AddressLine3 == null ? "" : prop.Address.AddressLine3 + ",")
                    @prop.Address.TownOrCity,
                    @prop.Address.County,
                    @prop.Address.Postcode
                </td>
                <td>@prop.PropertyType</td>
                <td>@prop.NumOfBedrooms</td>
                <td>
                    <p class="property-description property-description-table font-smallBody mb-0">@prop.Description</p>
                    <a asp-action="ViewProperty" asp-controller="Property" asp-route-propertyId="@prop.PropertyId" class="font-smallBody">Read more</a>
                </td>
                <td>
                    @if (prop.Availability == AvailabilityState.AvailableSoon && prop.AvailableFrom.HasValue)
                    {
                        @("Available" + "\n" + prop.AvailableFrom.Value.ToShortDateString())
                    }
                    else
                    {
                        @prop.Availability
                    }
                </td>
                <td>£@prop.Rent</td>
                @if (prop.TotalUnits > 1)
                {
                    <td>@prop.TotalUnits</td>
                    <td>@prop.AvailableUnits</td>
                }
                else
                {
                    <td class="bg-pale-blue">N/A</td>
                    <td class="bg-pale-blue">N/A</td>
                }
                <td>
                    <a asp-action="ViewProperty" asp-controller="Property" asp-route-propertyId="@prop.PropertyId" class="btn btn-@(User.IsInRole("Admin") ? "outline-" : "")primary">View/Edit</a>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Profile" asp-controller="Landlord" asp-route-id="@prop.LandlordId" class="btn btn-outline-primary">Landlord</a>
                    </td>
                    <td>
                        @if (prop.Availability is AvailabilityState.Available or AvailabilityState.AvailableSoon)
                        {
                            // Allow matching
                            <a asp-action="TenantMatchList" asp-controller="Tenant" asp-route-currentPropertyId="@prop.PropertyId" class="btn btn-primary text-nowrap">Find potential tenants</a>
                        }
                        else
                        {
                            // Don't allow matching
                            <a class="btn btn-primary text-nowrap disabled bg-grey">Find potential tenants</a>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>