@model PropertyInputFormViewModel

<h1 class="font-h1">What kind of tenant would you prefer?</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-controller="Property" asp-action="AddNewProperty_Continue" asp-route-step="@Model.Step" asp-route-propertyId="@Model.PropertyId" asp-route-landlordId="@Model.LandlordId">

    <div class="my-4 py-3">
        <label class="form-label mb-3">Select all that apply:</label>

        <div class="row g-3">
            <div class="col-auto d-grid">
                @Html.CheckBox("AcceptsSingleTenant", Model.Step5!.AcceptsSingleTenant ?? false, new { @class = "btn-check" })
                <label asp-for="Step5!.AcceptsSingleTenant" class="btn btn-outline-blue shadow-none pill-check">Single tenant</label>
            </div>
            <div class="col-auto d-grid">
                @Html.CheckBox("AcceptsCouple", Model.Step5!.AcceptsCouple ?? false, new { @class = "btn-check" })
                <label asp-for="Step5!.AcceptsCouple" class="btn btn-outline-blue shadow-none pill-check">Couple</label>
            </div>
            <div class="col-auto d-grid">
                @Html.CheckBox("AcceptsFamily", Model.Step5!.AcceptsFamily ?? false, new { @class = "btn-check" })
                <label asp-for="Step5!.AcceptsFamily" class="btn btn-outline-blue shadow-none pill-check">Family (3+)</label>
            </div>
        </div>
    </div>

    <div class="my-4 py-3">
        <label class="form-label">Will you accept tenants with pets?</label>

        <div class="form-check">
            <input type="radio" asp-for="Step5!.AcceptsPets" value="true" id="PetsTrue" class="form-check-input" required>
            <label for="PetsTrue" class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
            <input type="radio" asp-for="Step5!.AcceptsPets" value="false" id="PetsFalse" class="form-check-input" required>
            <label for="PetsFalse" class="form-check-label">No</label>
        </div>
    </div>

    <div class="my-4 py-3">
        <label class="form-label">Will you accept tenants:</label>

        <div class="form-check">
            @Html.CheckBox("AcceptsBenefits", Model.Step5!.AcceptsBenefits ?? false, new { @class = "form-check-input" })
            <label asp-for="Step5!.AcceptsBenefits" class="form-check-label">
                on Universal Credit or housing benefits?
            </label>
        </div>
        <div class="form-check">
            @Html.CheckBox("AcceptsNotEET", Model.Step5!.AcceptsNotEET ?? false, new { @class = "form-check-input" })
            <label asp-for="Step5!.AcceptsNotEET" class="form-check-label">
                not in EET (Employment, Education, or Training)?
            </label>
        </div>
        <div class="form-check">
            @Html.CheckBox("AcceptsWithoutGuarantor", Model.Step5!.AcceptsWithoutGuarantor ?? false, new { @class = "form-check-input" })
            <label asp-for="Step5!.AcceptsWithoutGuarantor" class="form-check-label">
                without a rent guarantor?
            </label>
        </div>
    </div>
    <partial name=@("_PropertyFormButtons") model="Model"/>
</form>