@model PropertyInputFormViewModel

<h1 class="font-h1">What kind of tenant would you prefer?</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-controller="Property" asp-action="PropertyInputStepFive" asp-route-propertyId="@Model.PropertyId" asp-route-operationType="@(Model.IsEdit ? "edit" : "add")">

    <div class="my-4 py-3">
        <label class="form-label mb-3">Select all that apply:</label>

        <div class="row g-3">
            <div class="col-auto d-grid">
                @Html.CheckBox("Step5.HousingRequirementModel.AcceptsSingleTenant", Model.Step5!.HousingRequirementModel.AcceptsSingleTenant ?? false, new { @class = "btn-check" })
                <label asp-for="Step5!.HousingRequirementModel.AcceptsSingleTenant" class="btn btn-outline-blue shadow-none pill-check">Single tenant</label>
            </div>
            <div class="col-auto d-grid">
                @Html.CheckBox("Step5.HousingRequirementModel.AcceptsCouple", Model.Step5!.HousingRequirementModel.AcceptsCouple ?? false, new { @class = "btn-check" })
                <label asp-for="Step5!.HousingRequirementModel.AcceptsCouple" class="btn btn-outline-blue shadow-none pill-check">Couple</label>
            </div>
            <div class="col-auto d-grid">
                @Html.CheckBox("Step5.HousingRequirementModel.AcceptsFamily", Model.Step5!.HousingRequirementModel.AcceptsFamily ?? false, new { @class = "btn-check" })
                <label asp-for="Step5!.HousingRequirementModel.AcceptsFamily" class="btn btn-outline-blue shadow-none pill-check">Family (3+)</label>
            </div>
        </div>
    </div>

    <div class="my-4 py-3">
        <label class="form-label">Will you accept tenants with pets?</label>

        <div class="form-check">
            <input type="radio" asp-for="Step5!.HousingRequirementModel.AcceptsPets" value="true" id="PetsTrue" class="form-check-input" required>
            <label for="PetsTrue" class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
            <input type="radio" asp-for="Step5!.HousingRequirementModel.AcceptsPets" value="false" id="PetsFalse" class="form-check-input" required>
            <label for="PetsFalse" class="form-check-label">No</label>
        </div>
    </div>

    <div class="my-4 py-3">
        <label class="form-label">Will you accept tenants:</label>
        <div class="form-check">
            @Html.CheckBox("Step5.HousingRequirementModel.AcceptsCredit", Model.Step5!.HousingRequirementModel.AcceptsCredit ?? false, new { @class = "form-check-input" })
            <label asp-for="Step5!.HousingRequirementModel.AcceptsCredit" class="form-check-label">
                on Universal Credit
            </label>
        </div>
        <div class="form-check">
            @Html.CheckBox("Step5.HousingRequirementModel.AcceptsBenefits", Model.Step5!.HousingRequirementModel.AcceptsBenefits ?? false, new { @class = "form-check-input" })
            <label asp-for="Step5!.HousingRequirementModel.AcceptsBenefits" class="form-check-label">
                on Universal Credit or housing benefits?
            </label>
        </div>
        <div class="form-check">
            @Html.CheckBox("Step5.HousingRequirementModel.AcceptsNotEET", Model.Step5!.HousingRequirementModel.AcceptsNotEET ?? false, new { @class = "form-check-input" })
            <label asp-for="Step5!.HousingRequirementModel.AcceptsNotEET" class="form-check-label">
                not in EET (Employment, Education, or Training)?
            </label>
        </div>
        <div class="form-check">
            @Html.CheckBox("Step5.HousingRequirementModel.AcceptsWithoutGuarantor", Model.Step5!.HousingRequirementModel.AcceptsWithoutGuarantor ?? false, new { @class = "form-check-input" })
            <label asp-for="Step5!.HousingRequirementModel.AcceptsWithoutGuarantor" class="form-check-label">
                without a rent guarantor?
            </label>
        </div>
        <div class="form-check">
            @Html.CheckBox("Step5.HousingRequirementModel.AcceptsOver35", Model.Step5!.HousingRequirementModel.AcceptsOver35 ?? false, new { @class = "form-check-input" })
            <label asp-for="Step5!.HousingRequirementModel.AcceptsOver35" class="form-check-label">
                that are over 35?
            </label>
        </div>
    </div>
    <input type="hidden" asp-for="LandlordId" value="@Model.LandlordId"/>
    <input type="hidden" asp-for="PropertyId" value="@Model.PropertyId"/>
    <input type="hidden" asp-for="Step" value="@Model.Step"/>
    <input type="hidden" asp-for="IsEdit" value="@Model.IsEdit"/>
    <partial name=@("_PropertyFormButtons") model="Model"/>
</form>