@model AddNewPropertyViewModel

@{
    ViewData["Title"] = "Add Property";

    string GetStepClass(int step)
    {
        if (step == Model.Step)
        {
            return "active";
        }
        return step < Model.Step ? "finish" : "";
    }
}

<!-- Circles which indicate the steps of the form: -->
<div class="d-flex my-5">
    <span class="step @GetStepClass(1)">1</span>
    <span class="stepline"></span>
    <span class="step @GetStepClass(2)">2</span>
    <span class="stepline"></span>
    <span class="step @GetStepClass(3)">3</span>
    <span class="stepline"></span>
    <span class="step @GetStepClass(4)">4</span>
    <span class="stepline"></span>
    <span class="step @GetStepClass(5)">5</span>
    <span class="stepline"></span>
    <span class="step @GetStepClass(6)">6</span>
</div>


@if (Model.Step > 1)
{
    <div class="mb-4">
        <a asp-controller="Property" asp-action="AddNewProperty_Continue" asp-route-step="@(Model.Step - 1)" asp-route-propertyId="@Model.Property?.PropertyId" asp-route-landlordId="@Model.Property?.LandlordId">&lt; Back</a>
    </div>
}

<form method="post" asp-controller="Property" asp-action="AddNewProperty_Continue" asp-route-step="@Model.Step" asp-route-propertyId="@Model.Property?.PropertyId" asp-route-landlordId="@Model.Property?.LandlordId">
    <partial name=@("_AddFormStep" + Model.Step) model="Model.Property"/>
    <input asp-for="Property!.LandlordId" type="hidden" id="landlordId" name="landlordId" value="@Model.Property!.LandlordId">
    <div class="row my-4">
        <div class="col-auto">
            @if (Model.Step < AddNewPropertyViewModel.MaximumStep)
            {
                <input type="submit" value="Next" class="btn btn-large btn-primary mb-3"/>
            }
            else
            {
                <input type="submit" value="Submit" class="btn btn-submit btn-primary"/>
            }
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-large btn-outline-primary" data-bs-toggle="modal" data-bs-target="#cancelModal">
                Cancel
            </button>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Cancel adding new property</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel adding this property? All progress up to this point will be lost.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post" asp-controller="Property" asp-action="AddNewProperty_Cancel" asp-route-id="@Model.Property?.PropertyId" asp-route-landlordId="@Model.Property?.LandlordId">
                    <input type="submit" value="Cancel" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </div>
</div>