@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PropertyViewModel

@{
    ViewData["Title"] = "View Property";
}

<div class="container">
    <div class="row mb-3">
        <h3>View property</h3>
    </div>
    <div class="row mb-3 ms-0">
        <div class="col-7 border p-2">
            <p>@Model.Address.AddressLine1</p>
            <p>Avaibility status: @Model.Availability</p>
            @if (Model.Availability == AvailabilityState.AvailableSoon)
            {
                <p>Available from: @Model.AvailableFrom!.Value.ToString("dd/MM/yyyy")</p>
            }
            <p>Total units: @Model.TotalUnits</p>
            <p>Occupied units: @Model.OccupiedUnits</p>
            <p>Available units: @Model.AvailableUnits</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <h4>Property details</h4>
        </div>
        <div class="col-4">
            <h4>Letting Profile</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <table class="table table-bordered">
                <tr>
                    <td>Address</td>
                    <td>@Model.Address.AddressLine1</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>@Model.PropertyType</td>
                </tr>
                <tr>
                    <td>Bedrooms</td>
                    <td>@Model.NumOfBedrooms</td>
                </tr>
                <tr>
                    <td>Rent</td>
                    <td>@Model.Rent</td>
                </tr>
                <tr>
                    <td>Lease duration</td>
                    <td> </td>
                </tr>
            </table>

        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <tr>
                    <td>Accepts single tenants</td>
                    <td>@Model.AcceptsSingleTenant</td>
                </tr>
                <tr>
                    <td>Accepts couples</td>
                    <td>@Model.AcceptsCouple</td>
                </tr>
                <tr>
                    <td>Accepts families</td>
                    <td>@Model.AcceptsFamily</td>
                </tr>
                <tr>
                    <td>Allows pets</td>
                    <td>@Model.AcceptsPets</td>
                </tr>
                <tr>
                    <td>Accepts tenants on Universal Credit/housing benefits</td>
                    <td>@Model.AcceptsBenefits</td>
                </tr>
                <tr>
                    <td>Accepts tenants not in EET</td>
                    <td>@Model.AcceptsNotEET</td>
                </tr>
                <tr>
                    <td>Accepts tenants without a rent guarantor</td>
                    <td>@Model.AcceptsWithoutGuarantor</td>
                </tr>
            </table>
        </div>
    </div>
    @Html.ActionLink("Property images", "ListPropertyImages", "Property", new { propertyId = Model.PropertyId },
        new { @class = "btn btn-primary" })
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete Property
    </button>
    <br/>
    <br/>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Get Public View Link", "GetPublicViewLink", "Property", new { propertyId = Model.PropertyId }, 
            new { @class = "btn btn-primary" })   
    }
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Delete property</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this property?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" asp-controller="Property" asp-action="DeleteProperty">
                    <input type="hidden" name="PropertyId" value="@Model.PropertyId"/>
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </div>
</div>

<form method="get" asp-controller="Property" asp-action="EditProperty">
    <input type="hidden" name="propertyId" value="@Model.PropertyId"/>
    <input type="submit" value="Edit" class="btn btn-danger"/>
</form>
