@model PublicPropertyViewModel

@{
    ViewData["Title"] = "View Public Property";
}

@if (Model.SearchResult == PublicPropertySearchResult.IncorrectPublicViewLink)
{
    <p>
        Error accessing the page. 
    </p>
    <p>
        This might mean that you have entered an incorrect link for viewing the property.
    </p>
    <p>
        If you received this link from Bricks&Hearts, please @Html.ActionLink("contact", "ContactUs", "Home") us.
    </p>
}
else
{
    <div class="container">
    <div class="row mb-3">
        <h3>View public property</h3>
    </div>
    <div class="row mb-3 ms-0">
        <div class="col-7 border p-2">
            <p>@Model.Address.AddressLine1</p>
            <p>Current rental: </p>
            <p>Looking for tenant: </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <h4>Property details</h4>
        </div>
        <div class="col-4">
            <h4>Letting Profile</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <table class="table table-bordered">
                <tr>
                    <td>Address</td>
                    <td>@Model.Address.AddressLine1</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>@Model.PropertyType</td>
                </tr>
                <tr>
                    <td>Bedrooms</td>
                    <td>@Model.NumOfBedrooms</td>
                </tr>
                <tr>
                    <td>Rent</td>
                    <td>@Model.Rent</td>
                </tr>
                <tr>
                    <td>Lease duration</td>
                    <td> </td>
                </tr>
            </table>

        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <tr>
                    <td>Accepts single tenants</td>
                    <td>@Model.AcceptsSingleTenant</td>
                </tr>
                <tr>
                    <td>Accepts couples</td>
                    <td>@Model.AcceptsCouple</td>
                </tr>
                <tr>
                    <td>Accepts families</td>
                    <td>@Model.AcceptsFamily</td>
                </tr>
                <tr>
                    <td>Allows pets</td>
                    <td>@Model.AcceptsPets</td>
                </tr>
                <tr>
                    <td>Accepts tenants on Universal Credit/housing benefits</td>
                    <td>@Model.AcceptsBenefits</td>
                </tr>
                <tr>
                    <td>Accepts tenants not in EET</td>
                    <td>@Model.AcceptsNotEET</td>
                </tr>
                <tr>
                    <td>Accepts tenants without a rent guarantor</td>
                    <td>@Model.AcceptsWithoutGuarantor</td>
                </tr>
            </table>
        </div>
    </div>
    @Html.ActionLink("Property images", "ListPropertyImages", "Property", new { propertyId = Model.PropertyId }, 
        new { @class = "btn btn-primary" })
</div>
}


