@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BricksAndHearts.ViewModels.PropertyInput.PropertyInputModelAvailability
@{
    Layout = "PropertyInputForm/_LayoutPropertyInputForm";
}
<div class="my-4 py-3">
    <label asp-for="Rent" class="form-label">Rent amount</label>
    <div class="input-group">
        <span class="input-group-text">£</span>
        <input asp-for="Rent" class="form-control" required/>
        <span class="input-group-text">per month</span>
    </div>
    <span asp-validation-for="Rent" class="text-danger"></span>
</div>

<div class="my-4 py-3 row">
    <div class="col-auto">
        <label asp-for="Availability" class="form-label">Availability</label>
        <select asp-for="Availability" class="form-select" required
                id="Select" onclick="displayIfSelectedValueIsTarget('@AvailabilityState.Draft', 'Select', 'draftMessage'); displayIfSelectedValueIsTarget('@AvailabilityState.AvailableSoon', 'Select', 'dateInput'); makeRequiredIfSelectedValueIsTarget('@AvailabilityState.AvailableSoon', 'Select', 'dateInput')">
            <option selected>@AvailabilityState.Draft</option>
            <option>@AvailabilityState.Available</option>
            <option>@AvailabilityState.AvailableSoon</option>
            <option>@AvailabilityState.Unavailable</option>
        </select>
        <span asp-validation-for="Availability" class="text-danger"></span>
    </div>
    <div class="col-auto" id="dateInput" style="@(Model.Availability == AvailabilityState.AvailableSoon ? "" : "display: none;")">
        <label asp-for="AvailableFrom" class="form-label">Available from</label>
        <input asp-for="AvailableFrom" class="form-control empty" type="date" asp-format="{0:yyyy-MM-dd}" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" step="1"/>
        <span asp-validation-for="AvailableFrom" class="text-danger"></span>
    </div>
    <div id="draftMessage" class="form-text" style="@(Model.Availability == AvailabilityState.Draft ? "" : "display: none;")">
        Listings in the 'Draft' state are not included in public lists of properties, and cannot be matched with tenants.
    </div>
</div>

<div class="my-4 py-3">
    <label asp-for="TotalUnits" class="form-label">Number of units available in this property</label>
    <input asp-for="TotalUnits" class="form-control" required>
</div>