@using BricksAndHearts.Auth
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Bricks &amp; Hearts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons/bootstrap-icons.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png" asp-append-version="true">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png" asp-append-version="true">
    <link rel="manifest" href="~/site.webmanifest" asp-append-version="true">
</head>

<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-primary navbar-expand-md navbar-light border-bottom bg-white box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold ms-4 me-5" asp-controller="Home" asp-action="Index">Bricks &amp; Hearts</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-link text-dark mx-3" asp-controller="Landlord" asp-action="@(User.IsInRole("Landlord") ? "Dashboard" : "RegisterGet")">List your properties</a>
                    <a class="nav-link text-dark mx-3" asp-controller="Admin" asp-action="AdminDashboard">Facilitate rentals</a>
                </div>

                <div class="navbar-nav">
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <div class="d-flex">
                            @if (User.IsInRole("Landlord"))
                            {
                                <div class="d-flex align-items-center me-0 py-0 flex-grow-1">
                                    <a asp-controller="Landlord" asp-action="MyProfile" class="profile-photo-sm">
                                        <img src="@(((BricksAndHeartsUser)User.Identity).GoogleProfileImageUrl ?? Url.Content("~/images/profileDefault.png"))" alt="Profile picture" referrerpolicy="no-referrer"/>
                                    </a>
                                </div>
                            }
                            @using (Html.BeginForm("Logout", "Login", FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-thin btn-outline-primary mx-3 justify-content-end">Log out</button>
                            }
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-thin btn-outline-primary mx-3" asp-controller="Login" asp-action="Google">Log in</a>
                    }
                </div>
            </div>
        </div>
    </nav>

    @if (User.Identity?.IsAuthenticated == true)
    {
        @if (User.IsInRole("Admin"))
        {
            <nav class="navbar navbar-secondary navbar-expand-md navbar-dark bg-primary py-1">
                <div class="collapse navbar-collapse">
                    <div class="d-flex justify-content-start nav-sub col-auto">
                        <a asp-controller="Admin" asp-action="AdminDashboard" class="nav-link text-light mx-3">Dashboard</a>
                    </div>
                    <div class="vr my-2 hidden-vr"></div>
                    <div class="d-flex justify-content-start nav-sub col-auto">
                        <a asp-controller="Property" asp-action="PropertyList" class="nav-link text-light mx-3">Properties</a>
                    </div>
                    <div class="vr my-2 hidden-vr"></div>
                    <div class="d-flex justify-content-start nav-sub col-auto">
                        <a asp-controller="Admin" asp-action="LandlordList" class="nav-link text-light mx-3">Landlords</a>
                    </div>
                    <div class="vr my-2 hidden-vr"></div>
                    <div class="d-flex justify-content-start nav-sub col-auto">
                        <a asp-controller="Tenant" asp-action="TenantList" class="nav-link text-light mx-3">Tenants</a>
                    </div>
                    <div class="vr my-2 hidden-vr"></div>
                    <div class="d-flex justify-content-start col-auto">
                        <a asp-controller="Admin" asp-action="GetAdminList" class="nav-link text-light mx-3">Admins</a>
                    </div>
                </div>
            </nav>
        }
        @if (User.IsInRole("Landlord"))
        {
            <nav class="navbar navbar-secondary navbar-expand-md navbar-dark bg-primary py-1">
                <div class="collapse navbar-collapse">
                    <div class="d-flex justify-content-start nav-sub col-auto">
                        <a asp-controller="Landlord" asp-action="Dashboard" class="nav-link text-light mx-3">Dashboard</a>
                    </div>
                    <div class="vr my-2 hidden-vr"></div>
                    <div class="d-flex justify-content-start nav-sub col-auto">
                        <a asp-controller="Landlord" asp-action="MyProfile" class="nav-link text-light mx-3">Profile</a>
                    </div>
                    <div class="vr my-2 hidden-vr"></div>
                    <div class="d-flex justify-content-start col-auto">
                        <a asp-controller="Landlord" asp-action="ViewMyProperties" class="nav-link text-light mx-3">Properties</a>
                    </div>
                </div>
            </nav>
        }
    }
</header>

<main role="main">
    <div class="container@(TempData["FullWidthPage"] is true ? "-fluid" : "") mt-3 pb-4">
        @if (TempData["FlashMessages"] is string[] flashMessages && TempData["FlashTypes"] is string[] flashTypes)
        {
            for (var i = 0; i < flashMessages.Length; i++)
            {
                <div class="alert alert-@flashTypes[i] alert-dismissible" role="alert">
                    @flashMessages[i]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        }
        @RenderBody()
    </div>
</main>

<footer class="mt-auto py-3 border-top footer text-muted bg-white">
    <div class="container">
        <div class="nav">
            <span class="navbar-text me-3">&copy; 2022 - Bricks &amp; Hearts</span>
            <a asp-controller="Home" asp-action="Privacy" class="nav-link">Privacy</a>
            <a asp-controller="Home" asp-action="ContactUs" class="nav-link">Contact</a>
        </div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>