@model LandlordProfileModel
<div class="registerTab" id="Name">
    <div class="form-group my-3">
        <label>Title:</label>
        @Html.HiddenFor(m => m.Unassigned, new { value = Model.Unassigned })
        @Html.DropDownList("Title", new List<SelectListItem>
        {
            new() { Text = "Mr", Value = "Mr", Selected = true },
            new() { Text = "Mrs", Value = "Mrs" },
            new() { Text = "Miss", Value = "Miss" },
            new() { Text = "Ms", Value = "Ms" },
            new() { Text = "Dr", Value = "Dr" }
        }, new { @class = "form-control" })
    </div>
    <div class="form-group my-3">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control"/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group my-3">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control"/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
</div>

<div class="registerTab" id="Contact details">
    <div class="form-group my-3">
        <label asp-for="Email" class="control-label"></label>
        <input type="email" asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group my-3">
        <label asp-for="Phone" class="control-label"></label>
        <input type="tel" asp-for="Phone" class="form-control"/>
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
</div>


<div class="registerTab" id="Landlord details">
    <div class="form-group my-3">
        <label>Landlord type:</label>
        @Html.DropDownList("LandlordType", new List<SelectListItem>
        {
            new() { Text = "Charity", Value = "Charity", Selected = true },
            new() { Text = "Private Residential Sector", Value = "Private Residential Sector" },
            new() { Text = "Registered Provider", Value = "Registered Provider" },
            new() { Text = "Local Authority", Value = "Local Authority" }
        }, new { @class = "form-control" })
    </div>
    <div class="form-group my-3">
        <label>For/ Not for profit:</label>
        @Html.DropDownList("IsLandlordForProfit", new List<SelectListItem>
        {
            new() { Text = "For Profit", Value = "true", Selected = true },
            new() { Text = "Not For Profit", Value = "false" }
        }, new { @class = "form-control" })
    </div>
    <div class="form-group my-3">
        <label class="control-label">Company (optional)</label>
        <input asp-for="CompanyName" class="form-control empty"/>
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
    
    <p>ChangeAhead Charter</p>
    
        <div class="my-3">
            <label asp-for="LandlordProvidedCharterStatus" class="form-label">What is your ChangeAhead Charter status?</label>
            <select asp-for="LandlordProvidedCharterStatus" class="form-select" required
                    id="Select" onclick="checkIfSelectedValueIsTarget()">
                <option selected disabled value="">Charter Status</option>
                <option value="true">Already approved</option>
                <option value="false">Not yet approved</option>
            </select>
            <span asp-validation-for="LandlordProvidedCharterStatus" class="text-danger"></span>
        </div>
    
        <div id="ifTrue" class="form-group my-3" style="@(Model.LandlordProvidedCharterStatus ? "" : "display: none;")">
            <label class="control-label">Please provide your Charter Membership Id:</label>
            <input asp-for="MembershipId" class="form-control empty"/>
            <span asp-validation-for="MembershipId" class="text-danger"></span>
        </div>
        <div id="ifFalse" style="@(!Model.LandlordProvidedCharterStatus ? "" : "display: none;")">
            ChangeAhead require your participation in a charter system.
        </div>
</div>

<div class="registerTab" id="Terms and conditions">
    @*tickbox and submit button*@
</div>

<hr/>
<button type="button" class="btn btn-outline-primary" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
<button type="button" class="btn btn-outline-primary" id="nextBtn" onclick="nextPrev(1)">Next</button>
<hr/>
<!-- Circles which indicates the steps of the form: -->
<div>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
</div>
<script src="~/js/registerPageScript.js" asp-append-version="true"></script>