@model LandlordProfileModel

@{
    ViewData["Title"] = "Details";
}

<div class="row py-3">
    <div class="col-sm-1 profile-photo-lg">
        <img src="@(Model.GoogleProfileImageUrl ?? Url.Content("~/images/profileDefault.png"))" alt="profile picture">
    </div>
    <div class="col-sm my-auto">
        <h1 class="font-h1 font-blue">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
        <div class="font-h3">Profile type: Landlord</div>
    </div>
</div>

<div class="row">
    <div class="col-sm">

        <div class="mb-4">
            <div class="d-flex">
                <h3 class="font-h3 d-inline-block">Personal details</h3>
                <a href="#" class="bi bi-pencil ms-auto" onclick="location.href='@Url.Action("EditProfilePage", "Landlord", new { landlordId = Model.LandlordId })'; setCurrentTab(0);"></a>
            </div>
            <table class="table">
                <tr>
                    <th class="w-25">First name</th>
                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td>@Html.DisplayFor(model => model.LastName)</td>
                </tr>
            </table>
        </div>

        <div class="mb-4">
            <div class="d-flex">
                <h3 class="font-h3 d-inline-block">Address</h3>
                <a href="#" class="bi bi-pencil ms-auto" onclick="location.href='@Url.Action("EditProfilePage", "Landlord", new { landlordId = Model.LandlordId })'; setCurrentTab(1);"></a>
            </div>
            <table class="table">
                <tr>
                    <th class="w-25">Address</th>
                    <td>
                        <div>@Model.Address.AddressLine1,</div>
                        @if (Model.Address.AddressLine2 != null)
                        {
                            <div>@Model.Address.AddressLine2,</div>
                        }
                        @if (Model.Address.AddressLine3 != null)
                        {
                            <div>@Model.Address.AddressLine3,</div>
                        }
                        <div>@Model.Address.TownOrCity,</div>
                        <div>@Model.Address.County,</div>
                        <div>@Model.Address.Postcode</div>
                    </td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>@Html.DisplayFor(model => model.CompanyName)</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="col-sm">
        <div class="mb-4">
            <div class="d-flex">
                <h3 class="font-h3 d-inline-block">Contact</h3>
                <a href="#" class="bi bi-pencil ms-auto" onclick="location.href='@Url.Action("EditProfilePage", "Landlord", new { landlordId = Model.LandlordId })'; setCurrentTab(1);"></a>
            </div>
            <table class="table">
                <tr>
                    <th class="w-25">Email</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
            </table>
        </div>

        <div class="mb-4">
            <div class="d-flex">
                <h3 class="font-h3 d-inline-block">Type</h3>
                <a href="#" class="bi bi-pencil ms-auto" onclick="location.href='@Url.Action("EditProfilePage", "Landlord", new { landlordId = Model.LandlordId })'; setCurrentTab(2);"></a>
            </div>
            <table class="table">
                <tr>
                    <th class="w-25">Nature</th>
                    <td>@Html.DisplayFor(model => model.LandlordType)</td>
                </tr>
                <tr>
                    <th>Sector</th>
                    <td>@(Model.IsLandlordForProfit ? "For profit" : "Not for profit")</td>
                </tr>
            </table>
        </div>

        <div class="mb-4">
            <div class="d-flex">
                <h3 class="font-h3 d-inline-block">Charter</h3>
                <a href="#" class="bi bi-pencil ms-auto" onclick="location.href='@Url.Action("EditProfilePage", "Landlord", new { landlordId = Model.LandlordId })'; setCurrentTab(2);"></a>
            </div>
            <table class="table">
                <tr>
                    <th class="w-25">Status</th>
                    <td>
                        <div class="d-flex">
                            @(Model.CharterApproved ? "Approved" : "Pending")
                            @if (User.IsInRole("Admin") && !Model.CharterApproved)
                            {
                                <button type="button" class="btn btn-sm btn-outline-primary ms-auto" data-bs-toggle="modal" data-bs-target="#approveModal">Confirm charter membership</button>
                            }
                        </div>
                    </td>
                </tr>
                @if (Model.MembershipId != null)
                {
                    <tr>
                        <th>Membership ID</th>
                        <td>@Model.MembershipId</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@if (Model.NumOfProperties > 0)
{
    <a asp-action="@(User.IsInRole("Landlord") ? "ViewMyProperties" : "ViewProperties")" asp-controller="Landlord" class="btn btn-primary my-3">View properties</a>
}
else
{
    <a class="btn btn-primary my-3" href='@Url.Action("PropertyInputStepOnePostcode", "Property", new { landlordId = Model.LandlordId, propertyId = 0, operationType = "add" })'>Add properties</a>
}

@if (User.IsInRole("Admin"))
{
    <form asp-action="GetInviteLink" asp-controller="Admin" asp-route-landlordId="@Model.LandlordId" method="post" class="mb-3">
        <button type="submit" class="btn btn-primary"><i class="bi bi-link"></i> Get invite link</button>
    </form>
    if (Model.InviteLink != null)
    {
        <a class="btn btn-primary mb-3" type="button" id="copyBtn" onclick="copyLinkToClipboard('@Model.InviteLink');"><i class="bi bi-files"></i> Copy invite link</a>
    }
    <form asp-action="DisableOrEnableLandlord" asp-controller="Landlord" asp-route-landlordId="@Model.LandlordId" method="post" class="mb-3">
        <input type="hidden" asp-for="Action" value=@(Model.Disabled ? "enable" : "disable")>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-link"></i> @(Model.Disabled ? "Re-enable landlord" : "Disable landlord")
        </button>
    </form>
}

<!-- Modal -->
<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveModalLabel">Confirm charter membership for @Model.FirstName @Model.LastName</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="Landlord" asp-action="ApproveCharter">
                <div class="modal-body">
                    <label asp-for="MembershipId" class="form-label">Membership ID</label>
                    <input type="text" asp-for="MembershipId" value="@(Model.MembershipId ?? "")" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                    <input type="hidden" asp-for="LandlordId" value="@Model.LandlordId">
                    <input type="submit" value="Confirm" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>