@model LandlordProfileModel

@{
    ViewData["Title"] = "Details";
}

<h1>Profile</h1>

<div>
    @{
        if (TempData["FlashMessage"] != null)
        {
            <div class="alert alert-warning" role="alert">
                @TempData["FlashMessage"]
            </div>
        }
    }
    <h4>Landlord</h4>
    
    <hr/>
    
    <h4>Personal details</h4>
    
    <div class="tables">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LastName)</td>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
        </table>
    </div>

    <h4>Landlord details</h4>
    
    <div class="tables">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CompanyName)</td>
                <td>@Html.DisplayFor(model => model.CompanyName)</td>
            </tr>
        </table>
    </div>

    <h4>Contact details</h4>
    <div class="tables">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Email)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Phone)</td>
                <td>@Html.DisplayFor(model => model.Phone)</td>
            </tr>
        </table>
    </div>
    
    <h4>ChangeAhead Charter</h4>
    @if (Model.CharterApproved)
    {
        <p>Charter status: Approved</p>
    }
    else
    {
        <p>Charter status: Pending</p>
    }
    
</div>