@model PropertiesDashboardViewModel

@{
    ViewData["Title"] = "My Properties";
}

<h2>My properties</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Address</th>
        <th scope="col">Type</th>
        <th scope="col"># of Bedrooms</th>
        <th scope="col">Created</th>
        <th scope="col">Rent (pcm)</th>
        <th scope="col">Description</th>
        <th scope="col">View</th>
    </tr>
    </thead>
    <tbody>
    @{
        var i = 1;
    }
    @foreach (var prop in Model.Properties)
    {
        <tr>
            <th scope="row">@i</th>
            <td>
                @prop.Address!.AddressLine1,
                @prop.Address.AddressLine2
                @(prop.Address.AddressLine2 != null ? "," : "")
                @prop.Address.AddressLine3
                @(prop.Address.AddressLine3 != null ? "," : "")
                @prop.Address.TownOrCity,
                @prop.Address.Postcode
            </td>
            <td>@prop.PropertyType</td>
            <td>@prop.NumOfBedrooms</td>
            <td>@prop.CreationTime</td>
            <td>@prop.Rent</td>
            <td>@prop.Description</td>
            <td>@Html.ActionLink("View","ViewProperty","Property", new{propertyId = @prop.PropertyId})</td>
        </tr>
        i++;
    }
    </tbody>
</table>

@Html.ActionLink("Add new property", "AddNewProperty_Begin", "Property", null, new { @class = "btn btn-primary" })