@model PropertiesDashboardViewModel

@{
    ViewData["Title"] = "My Properties";
}

<h2>My properties</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Address</th>
        <th scope="col">Type</th>
        <th scope="col"># of Bedrooms</th>
        <th scope="col">Rent (pcm)</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @{
        var i = 1;
    }
    @foreach (var prop in Model.Properties)
    {
        <tr class="clickable"
            onclick="location.href = '@Url.Action("ViewProperty", "Property", new { propertyId = prop!.PropertyId })'">
            <th scope="row">@i</th>
            <td>
                @prop.Address.AddressLine1,
                @prop.Address.AddressLine2@(prop.Address.AddressLine2 != null ? "," : "")
                @prop.Address.AddressLine3@(prop.Address.AddressLine3 != null ? "," : "")
                @prop.Address.TownOrCity,
                @prop.Address.County,
                @prop.Address.Postcode
            </td>
            <td>@prop.PropertyType</td>
            <td>@prop.NumOfBedrooms</td>
            <td>@prop.Rent</td>
            <td>@prop.Description</td>
            <td>
                @if (prop.IsIncomplete)
                {
                    <a class="btn btn-primary position-relative" href="@Url.Action("AddNewProperty_Continue", "Property", new { propId = prop.PropertyId, step = 1 })">
                        Edit
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
                            <i class="bi bi-circle-half"></i>
                            <span class="visually-hidden">Property is incomplete</span>
                        </span>
                    </a>
                }
            </td>
        </tr>
        i++;
    }
    </tbody>
</table>

@Html.ActionLink("Add new property", "AddNewProperty_Begin", "Property", null, new { @class = "btn btn-primary" })