@model LandlordAndPropertyViewModel

@functions
{
    void GetImageElement(int propertyId, int id, string size)
    {
        <div href="#" class="property-img-@(size) noHover placeholder-glow">
            <div class="placeholder w-100 h-100" id="image@(propertyId)@(id)Placeholder"></div>
            <img src="@Model.Images[id].FileUrl" alt="@Model.Images[id].FileName" id="image@(propertyId)@(id)" style="display: none" onload="hidePlaceholder('#image@(propertyId)@(id)')">
        </div>
    }
}

<div class="border border-primary rounded mb-3 p-4 statBox">
    <div class="row">
        <div class="col">
            <div class="row property-img-row w-100">
                @if (Model.Images.Count > 0)
                {
                    <div class="col-sm mb-3">
                        @{ GetImageElement(Model.Property!.PropertyId, 0, "lg"); }
                    </div>
                }
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-auto profile-photo-lg">
                            <img src="@(Model.CurrentLandlord.GoogleProfileImageUrl ?? Url.Content("~/images/profileDefault.png"))" alt="profile picture">
                        </div>
                        <div class="col">
                            <h1 class="font-blue font-h1">@Model.CurrentLandlord.FirstName</h1>
                            <h2 class="font-subtitle font-blue">@Model.CurrentLandlord.LandlordType</h2>
                            <h2 class="font-subtitle">@Model.CurrentLandlord.NumOfProperties current properties</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h2 class="font-h2">@Model.Property!.Address.ToShortAddressString()</h2>
                <div class="d-flex">
                    @if (Model.Property.Availability == "Available")
                    {
                        <p class="flex-row flex-grow-1"><i class="bi bi-check2-all"></i>Available</p>
                    }
                    else
                    {
                        <p class="flex-row flex-grow-1"><i class="bi bi-x"></i>Not yet available</p>
                    }
                    <div class="flex-row-reverse">
                        <p><i class="bi bi-geo-alt"></i>@Model.Property.Address.County, @Model.Property.Address.Postcode</p>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <partial name="~/Views/Property/Details/_Details.cshtml" model="@Model.Property"/>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex">
                        <h3 class="font-h3 d-inline-block mt-3">Description</h3>
                    </div>
                    <div class="card custom-card flex-grow-1 mt-2">
                        <div class="card-body">
                            <p class="collapse property-description font-smallBody" id="descriptionCollapse">@(@Model.Property.Description ?? "Missing description")</p>
                            <a class="collapsed font-smallBody" role="button" data-bs-toggle="collapse" href="#descriptionCollapse"></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex">
                        <h3 class="font-h3 d-inline-block mt-3">Property accepts</h3>
                    </div>
                    <partial name="Details/_PropertyAccepts" model="@(new PropertyDetailsViewModel { Property = Model.Property, Images = Model.Images })"/>
                </div>
            </div>
        </div>
    </div>
</div>