@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model AdminListModel

@{
    ViewData["Title"] = "Admin List";
}

<div class="tables">
    <h2>Pending Admins</h2>
    <table class="display table table-striped" id="pendingAdminTable">
        <thead>
        <tr>
            <th scope="col">Google Email</th>
            <th scope="col">Google Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pendingAdmin in Model.PendingAdmins)
        {
            <tr>
                <td>@pendingAdmin.GoogleEmail</td>
                <td>@pendingAdmin.GoogleUserName</td>
                @*<td><input type="button" class="btn btn-outline-success" value="Accept" onclick="location.href='@Url.Action("AcceptAdminRequest", "Admin", new {userToAccept = pendingAdmin})'"/></td>*@
                <td>
                    @using (Html.BeginForm("AcceptAdminRequest", "Admin",new {userToAcceptId = pendingAdmin.Id}, FormMethod.Post))
                    {
                        <button type="submit"  class="btn btn-outline-success">Accept</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<br/>
<div class="tables">
    <h2>Current Admins</h2>
    <table class="display table table-striped" id="adminTable">
        <thead>
        <tr>
            <th scope="col">Google Email</th>
            <th scope="col">Google Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var currentAdmin in Model.CurrentAdmins)
        {
            <tr>
                <td>@currentAdmin.GoogleEmail</td>
                <td>@currentAdmin.GoogleUserName</td>
                <td>Actions</td>
            </tr>
        }
        </tbody>
    </table>
</div>