@model AdminListModel

@{
    ViewData["Title"] = "Admins";
}

<h1 class="font-h1 my-4">Admins</h1>

<div class="table-responsive">
    <table class="table">
        <thead class="bg-pale-blue">
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var currentAdmin in Model.CurrentAdmins)
        {
            <tr>
                <td class="align-middle">
                    <span class="status-pill-live rounded-pill px-3 py-1">
                        <i class="bi bi-check2-all me-1"></i>
                        Active
                    </span>
                </td>
                <td>@currentAdmin.GoogleUserName</td>
                <td>@currentAdmin.GoogleEmail</td>
                <td>
                    <form asp-action="RemoveAdmin" asp-controller="Admin" method="post" asp-route-userToRemoveId="@currentAdmin.Id">
                        <button type="submit" class="btn btn-outline-primary">Revoke admin rights</button>
                    </form>
                </td>
            </tr>
        }
        @foreach (var pendingAdmin in Model.PendingAdmins)
        {
            <tr>
                <td class="align-middle">
                    <span class="status-pill-draft rounded-pill px-3 py-1">
                        <i class="bi bi-clock me-1"></i>
                        Pending
                    </span>
                </td>
                <td>@pendingAdmin.GoogleUserName</td>
                <td>@pendingAdmin.GoogleEmail</td>
                <td>
                    <form asp-action="AcceptAdminRequest" asp-controller="Admin" asp-route-userToAcceptId="@pendingAdmin.Id" method="post" class="d-inline-block">
                        <button type="submit" class="btn btn-primary">Accept</button>
                    </form>
                    <form asp-action="RejectAdminRequest" asp-controller="Admin" asp-route-userToRejectId="@pendingAdmin.Id" method="post" class="d-inline-block">
                        <button type="submit" class="btn btn-outline-primary">Reject</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>