@model PropertiesDashboardViewModel

@{
    ViewData["Title"] = "All Properties List";
}

<h2>All Properties List</h2>

<div class="mb-3">
    @using (Html.BeginForm("SortProperties", "Property", FormMethod.Get))
    {
        <select class="form-select" id="by" name="by">
            <option value="Availability">Sort by availability</option>
            <option value="Rent">Sort by rent</option>
        </select>
        <button type="submit" class="btn custom-btn-primary"> Display results </button>
    }
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Address</th>
            <th scope="col">Type</th>
            <th scope="col"># of Bedrooms</th>
            <th scope="col">Created</th>
            <th scope="col">Rent (pcm)
                <a href=@Url.Action("SortProperties", "Property", new { by = "Rent", descending = true })>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <a href=@Url.Action("SortProperties", "Property", new { by = "Rent"})>
                    <i class="bi bi-chevron-up"></i>
                </a>
            </th>
            <th scope="col">Description</th>
            <th scope="col">Availability</th>
            <th scope="col">Landlord's profile</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var property in Model.Properties!)
    {
        <tr>
            <td>@property.Address!.AddressLine1, @property.Address.AddressLine2, @property.Address.AddressLine3, @property.Address.TownOrCity</td>
            <td>@property.PropertyType</td>
            <td>@property.NumOfBedrooms</td>
            <td>@property.CreationTime</td>
            <td>@property.Rent</td>
            <td>@property.Description</td>
            @if (property.UserWhoRented != null)
            {
                <td>
                    <p class="not-available"> Not available </p></td>
            }
            else
            {
                <td>
                    <p class="available"> Available </p></td>
            }

            <td>
                <a type="button" class="btn btn-outline-primary" value="@property.LandlordId" href="@Url.Action("Profile", "Landlord", new { id = property.LandlordId })">
                    <i class="bi bi-person"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>