@model TenantListModel

@{
    ViewData["Title"] = "Tenant List";
}

<h2>Tenant List</h2>

<div class="dropdown-button">
    <a class="btn btn-primary mb-3" data-bs-toggle="collapse" href="#dropdown-contents" role="button" aria-expanded="false" aria-controls="dropdown-contents">
        <i class="bi bi-arrow-90deg-down"></i> Filter
    </a>
</div>
<div class="collapse @(Model.Filter.GetList().SequenceEqual(new HousingRequirementModel().GetList()) ? "":"show")" id="dropdown-contents">
    <form method="get" asp-controller="Admin" asp-action="TenantList">

        <div class="row g-3">
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsSingleTenant,
                    new List<SelectListItem>
                    {
                        new("Only single tenants", "true"),
                        new("No single tenants", "false")
                    }, 
                    "Filter by single tenant",
                    new { @class="form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsCouple,
                    new List<SelectListItem>
                    {
                        new("Only couples", "true"),
                        new("No couples", "false")
                    }, 
                    "Filter by couple",
                    new { @class="form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsFamily,
                    new List<SelectListItem>
                    {
                        new("Only families", "true"),
                        new("No families", "false")
                    }, 
                    "Filter by family",
                    new { @class="form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsPets,
                    new List<SelectListItem>
                    {
                        new("Has pet", "true"),
                        new("Does not have pet", "false")
                    }, 
                    "Filter by Pets",
                    new { @class="form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsNotEET,
                    new List<SelectListItem>
                    {
                        new("In ETT", "true"),
                        new("Not in ETT", "false")
                    }, 
                    "Filter by ETT",
                    new { @class="form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsCredit,
                    new List<SelectListItem>
                    {
                        new("On Universal Credit", "true"),
                        new("Not on Universal Credit", "false")
                    }, 
                    "Filter by Universal Credit",
                    new { @class="form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsBenefits,
                    new List<SelectListItem>
                    {
                        new("On Housing Benefits", "true"),
                        new("Not on Housing Benefits", "false")
                    }, 
                    "Filter by Housing Benefits",
                    new { @class="form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsOver35,
                    new List<SelectListItem>
                    {
                        new("Over 35", "true"),
                        new("35 or under", "false")
                    }, 
                    "Filter by Over 35",
                    new { @class="form-select" }
                    )
            </div>
        </div>
        <input type="submit" value="Apply" class="btn btn-large btn-primary my-3"/>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Postcode</th>
        <th scope="col">Type</th>
        <th scope="col">Has Pet?</th>
        <th scope="col">In ETT?</th>
        <th scope="col">On Universal Credit?</th>
        <th scope="col">On Housing Benefits?</th>
        <th scope="col">Over 35?</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tenant in Model.TenantList!)
    {
        <tr>
            <td>@tenant.Name</td>
            <td>@tenant.Email</td>
            <td>@tenant.Phone</td>
            <td>@tenant.Postcode</td>
            <td>@tenant.Type</td>
            <td>@tenant.HasPet</td>
            <td>@tenant.ETT</td>
            <td>@tenant.UniversalCredit</td>
            <td>@tenant.HousingBenefits</td>
            <td>@tenant.Over35</td>
        </tr>
    }
    </tbody>
</table>

<h2>Importing tenant information</h2>

@using (Html.BeginForm("ImportTenants", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>Please upload a CSV file containing tenant information. This information will replace all existing tenant records.</div>
    <input name="csvFile" type="file" accept="file">
    <input type="submit" value="Import Tenants" />
}

<p></p>
<p>Below is a CSV file which you may use as a template for the tenant data you wish to import. The first row is filled in as an example.</p>
<p>Please do not change the column headings, or your data will not be recognised as aligning with the fields stored in the database.</p>
<p>Data imported is case sensitive and registers white space. Certain fields require a Boolean input (TRUE or FALSE). Any field except for the tenant's name may be left blank.</p>

@using (Html.BeginForm("GetSampleTenantCSV", "Admin", FormMethod.Post))
{
    <button type="submit" class="btn btn-primary">Download sample Tenant Data CSV</button>
}