@model TenantListModel

@{
    ViewData["Title"] = "Tenant List";
}

<h2>Tenant List</h2>

<form method="post" asp-controller="Admin" asp-action="ReceiveTenantFilterList">
    <div class="row g-3">
        <div class="col-auto d-grid">
            @Html.CheckBoxFor(t => t.Filters[0], new { @class = "btn-check" })
            <label asp-for="Filters[0]" class="btn btn-outline-blue shadow-none pill-check">Single tenant</label>
        </div>
        <div class="col-auto d-grid">
            @Html.CheckBoxFor(t => t.Filters[1], new { @class = "btn-check" })
            <label asp-for="Filters[1]" class="btn btn-outline-blue shadow-none pill-check">Couple</label>
        </div>
        <div class="col-auto d-grid">
            @Html.CheckBoxFor(t => t.Filters[2], new { @class = "btn-check" })
            <label asp-for="Filters[2]" class="btn btn-outline-blue shadow-none pill-check">Family</label>
        </div>
        <div class="col-auto d-grid">
            @Html.CheckBoxFor(t => t.Filters[3], new { @class = "btn-check" })
            <label asp-for="Filters[3]" class="btn btn-outline-blue shadow-none pill-check">Pet owner</label>
        </div>
        <div class="col-auto d-grid">
            @Html.CheckBoxFor(t => t.Filters[4], new { @class = "btn-check" })
            <label asp-for="Filters[4]" class="btn btn-outline-blue shadow-none pill-check">Is in ETT</label>
        </div>
        <div class="col-auto d-grid">
            @Html.CheckBoxFor(t => t.Filters[5], new { @class = "btn-check" })
            <label asp-for="Filters[5]" class="btn btn-outline-blue shadow-none pill-check">Credit</label>
        </div>
        <div class="col-auto d-grid">
            @Html.CheckBoxFor(t => t.Filters[6], new { @class = "btn-check" })
            <label asp-for="Filters[6]" class="btn btn-outline-blue shadow-none pill-check">Benefits</label>
        </div>
        <div class="col-auto d-grid">
            @Html.CheckBoxFor(t => t.Filters[7], new { @class = "btn-check" })
            <label asp-for="Filters[7]" class="btn btn-outline-blue shadow-none pill-check">Is over 35</label>
        </div>
    </div>
    <input type="submit" value="Filter" class="btn btn-large btn-primary mb-3"/>
</form>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Postcode</th>
        <th scope="col">Type</th>
        <th scope="col">Has Pet?</th>
        <th scope="col">In ETT?</th>
        <th scope="col">On Universal Credit?</th>
        <th scope="col">On Housing Benefits?</th>
        <th scope="col">Over 35?</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tenant in Model.TenantList!)
    {
        <tr>
            <td>@tenant.Name</td>
            <td>@tenant.Email</td>
            <td>@tenant.Phone</td>
            <td>@tenant.Postcode</td>
            <td>@tenant.Type</td>
            <td>@tenant.HasPet</td>
            <td>@tenant.ETT</td>
            <td>@tenant.UniversalCredit</td>
            <td>@tenant.HousingBenefits</td>
            <td>@tenant.Over35</td>
        </tr>
    }
    </tbody>
</table>