@model TenantListModel

@{
    ViewData["Title"] = "Tenant List";
}

<h1 class="font-h1 mt-5">Tenants</h1>

<div class="row">
    <div class="col-auto">
        <a class="btn btn-primary mb-3" data-bs-toggle="collapse" href="#dropdown-contents" role="button" aria-expanded="false" aria-controls="dropdown-contents">
            <i class="bi bi-arrow-90deg-down"></i> Filter
        </a>
    </div>
    <div class="col-auto ms-auto">
        <button type="button" data-bs-target="#csvImportModal" data-bs-toggle="modal" class="btn btn-primary">Import tenants</button>
    </div>
</div>
<div class="collapse @(Model.Filter.AllAreNull ? "" : "show")" id="dropdown-contents">
    <form method="get" asp-controller="Tenant" asp-action="TenantList">
        <div class="col-8 my-3">
            <input class="form-control" id="TargetPostcode" name="TargetPostcode" value="@Model.TargetPostcode" placeholder="Enter postcode to sort by location"
                   pattern="@Constants.PostcodeValidationRegex"/>
        </div>
        <div class="row mb-3">
            <div class="col-auto d-grid">
                @Html.CheckBox("Filter.AcceptsSingleTenant", Model.Filter.AcceptsSingleTenant ?? false, new { @class = "btn-check" })
                <label asp-for="Filter.AcceptsSingleTenant" class="btn btn-outline-blue shadow-none pill-check">Single tenant</label>
            </div>
            <div class="col-auto d-grid">
                @Html.CheckBox("Filter.AcceptsCouple", Model.Filter.AcceptsCouple ?? false, new { @class = "btn-check" })
                <label asp-for="Filter.AcceptsCouple" class="btn btn-outline-blue shadow-none pill-check">Couple</label>
            </div>
            <div class="col-auto d-grid">
                @Html.CheckBox("Filter.AcceptsFamily", Model.Filter.AcceptsFamily ?? false, new { @class = "btn-check" })
                <label asp-for="Filter.AcceptsFamily" class="btn btn-outline-blue shadow-none pill-check">Family (3+)</label>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsPets,
                    new List<SelectListItem>
                    {
                        new("Has pets", "true"),
                        new("No pets", "false")
                    },
                    "Filter by pets",
                    new { @class = "form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsNotInEET,
                    new List<SelectListItem>
                    {
                        new("In EET", "false"),
                        new("Not in EET", "true")
                    },
                    "Filter by EET",
                    new { @class = "form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsCredit,
                    new List<SelectListItem>
                    {
                        new("On Universal Credit", "true"),
                        new("Not on Universal Credit", "false")
                    },
                    "Filter by Universal Credit",
                    new { @class = "form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsBenefits,
                    new List<SelectListItem>
                    {
                        new("On housing benefits", "true"),
                        new("Not on housing benefits", "false")
                    },
                    "Filter by housing benefits",
                    new { @class = "form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsUnder35,
                    new List<SelectListItem>
                    {
                        new("Under 35", "true"),
                        new("35 or over", "false")
                    },
                    "Filter by age",
                    new { @class = "form-select" }
                    )
            </div>
            <div class="col-auto d-grid">
                @Html.DropDownListFor(
                    model => model.Filter.AcceptsWithoutGuarantor,
                    new List<SelectListItem>
                    {
                        new("No guarantor", "true"),
                        new("Has guarantor", "false")
                    },
                    "Filter by guarantor",
                    new { @class = "form-select" }
                    )
            </div>
        </div>
        <input type="submit" value="Apply filters" class="btn btn-large btn-primary my-3"/>
    </form>
</div>

<partial name="~/Views/Admin/_TenantTable.cshtml"/>

@{ await Html.RenderPartialAsync("_PaginationPartial", new PaginationModel
   {
       Page = Model.Page,
       Total = Model.Total,
       ItemsPerPage = Model.TenantsPerPage,
       ItemsOnPage = Model.TenantList.Count,
       HrefPrevious = Url.Action("TenantList", "Tenant", Model.PreviousPageRouteValues),
       HrefNext = Url.Action("TenantList", "Tenant", Model.NextPageRouteValues),
       TypeOfData = "tenants"
   }); }

<partial name="~/Views/Admin/_TenantImportModal.cshtml"/>